body {
    font-family: monospace;
}

.main {
    background-color: hsl(110, 30%, 70%);
    box-shadow: 0.5em 0.5em 0em hsl(110, 30%, 80%);
    padding: 2em;
}

.main_hr {
    border-color: hsl(110, 30%, 60%);
}
