body {
    font-family: monospace;
}

.main {
    background-color: rgb(168, 204, 159);
    padding: 2em;
    box-shadow: 0.5em 0.5em 0em rgb(194, 219, 185);
}

.main_hr {
    border-color: rgb(127, 168, 116);
}
