body {
    font-family: monospace;
}

.main {
    background-color: hsl(108, 31%, 71%);
    padding: 2em;
    box-shadow: 0.5em 0.5em 0em hsl(108, 32%, 79%);
}

.main_hr {
    border-color: hsl(108, 23%, 56%);
}
